@import "./_chart_veiw.css";

.chartBody {
  width: 100%;
  height: 100%;
  background: $chartBg;
  background-size: 93px 93px;
}

.chartBodyActive {
  overflow: hidden;
}

.chartContainer {
  width: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}
