.bodyContact {
  width: 100vw;
  height: 100vh;
  background: $homePageBg;
  overflow: hidden;
}

.contact__container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  .contact__container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    height: 380px;
    width: 1100px;
    min-width: auto;
    max-width: 100%;
    animation: contact 1s ease-in 0.4s backwards;

    @mixin atSmallHeight {
      height: 480px;
    }

    @mixin atSmall {
      margin: 0 50px;
    }

    .form-container {
      position: absolute;
      height: 50%;
      top: 0;
      transition: 0.6s ease-in-out;

      @mixin atMedium {
        height: 100%;
      }

      form {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
          font-size: 1.5rem;
          margin-bottom: 50px;
          border-bottom: 1px solid #fab733;
          padding-bottom: 15px;

          @mixin atSmall {
            font-size: 2rem;
          }
        }

        .social-container {
          .i {
            padding: 10px 0;
            i {
              font-size: 1.2rem;
              color: $mainOrange;
            }
          }
          a {
            i {
              color: $mainOrange;
              font-size: 40px;
              transition: color 0.3s ease;
            }
            i:hover {
              color: $mainYellow;
            }
          }
        }
      }
    }
  }
  @keyframes contact {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

button {
  border-radius: 20px;
  border: 1px solid #fa0004;
  background: #fa0004;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  margin-top: 30px;
  background: transparent;
  border-color: #fff;
}

.sign-in-container {
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 2;

  @mixin atMedium {
    height: 100%;
    width: 50%;
  }
}
.sign-up-container {
  left: 0;
  height: 50%;
  width: 100%;
  opacity: 0;
  z-index: 1;

  @mixin atMedium {
    height: 100%;
    width: 50%;
  }
}

.overlay-container {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  left: 0;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 6;

  @mixin atMedium {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }

  .overlay {
    background: #fab733;
    background: linear-gradient(to right, #fab733, #fa0004) no-repeat 0 0 /
      cover;
    left: 0;
    top: -20%;
    height: 200%;
    width: 100%;
    color: #fff;
    position: relative;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;

    h1 {
      border-bottom: 1.5px solid $mainWhite;
      padding: 0 10px 5px 10px;
      font-size: 1.5rem;

      @mixin atSmall {
        font-size: 2rem;
      }
    }

    p {
      line-height: 20px;

      @mixin atSmall {
        line-height: 30px;
      }
    }

    @mixin atMedium {
      top: 0;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
    }

    .overlay-panel {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      height: 100%;
      width: 100%;
      text-align: center;
      transform: translateY(0);
      transition: transform 0.6s ease-in-out;

      @mixin atMedium {
        height: 100%;
        width: 50%;
        transform: translateX(0);
      }
    }

    .overlay-right {
      right: 0;
      transform: translateY(-18%);

      @mixin atMedium {
        transform: translateX(0);
      }
    }
    .overlay-left {
      transform: translateY(100%);

      @mixin atMedium {
        transform: translateX(-20%);
      }
    }
  }
}

/* Animation */

/* Utsaar holbogdoh heseg Baruun tiish */
.contact__container.right-panel-active .sign-in-container {
  transform: translateY(100%);

  @mixin atMedium {
    transform: translateX(100%);
  }
}

/* Social-r holbogdoh heseg Baruun tiish il garah */
.contact__container.right-panel-active .sign-up-container {
  transform: translateY(100%);
  opacity: 1;
  z-index: 5;

  @mixin atMedium {
    transform: translateX(100%);
  }
}

/* Social-r holbogdoh OverLay Zuun tiish */
.contact__container.right-panel-active .overlay-container {
  transform: translateY(-100%);

  @mixin atMedium {
    transform: translateX(-100%);
  }
}

.contact__container.right-panel-active .overlay {
  @mixin atMedium {
    transform: translateX(50%);
  }
}

.contact__container.right-panel-active .overlay-left {
  transform: translateY(-15%);

  @mixin atMedium {
    transform: translateX(0);
  }
}
.contact__container.right-panel-active .overlay-right {
  transform: translateY(-100%);

  @mixin atMedium {
    transform: translateX(20%);
  }
}
