.homebody {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home_slide_arrows {
  margin-left: 20px;
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  @mixin atMedium {
    width: 200px;
  }

  button {
    padding: 15px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: $mainWhite;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }

    .fa {
      color: $mainGrey;
    }
  }
}

.home_sliderBG {
  height: 80vh;
  position: relative;

  .home__slide {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.active {
      z-index: 4;
      animation: slideShow 0.6s ease-in-out;
    }

    @keyframes slideShow {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}

.home__sliderTitle {
  min-width: 250px;
  height: 100px;

  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 5;
  overflow: hidden;
  pointer-events: none;

  @mixin atMedium {
    min-width: 400px;
  }

  @mixin atFull {
    height: 140px;
    top: 50%;
    left: 15%;
    min-width: 500px;
  }

  .sliderTitle-container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;

    .content {
      height: 100%;
      font-size: 30px;
      color: $mainWhite;

      @mixin atMedium {
        font-size: 40px;
      }
      @mixin atFull {
        font-size: 55px;
      }

      h1 {
        text-shadow: 5px 5px 5px black;
      }
    }
  }
}

.home__sliderSecond {
  height: 330px;
  width: 70%;
  left: 30%;
  top: 48%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  z-index: 4;

  @mixin atMedium {
    height: 500px;
    top: 45%;
  }

  @mixin atFull {
    width: 50%;
    left: 50%;
  }

  .home__second__container {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    @mixin atMedium {
      height: 400px;
    }

    img {
      width: 150px;
      height: 200px;
      margin-right: 30px;
      transition: 0.6s ease;
      transform: rotate3d(0, 1, 0, 3.2rad);
      border-radius: 20px;
      box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.336);

      @mixin atMedium {
        width: 300px;
        height: 350px;
        margin-right: 50px;
      }

      &.active {
        width: 180px;
        height: 250px;
        transform: rotate3d(0, 0, 0, 0rad);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);

        @mixin atMedium {
          width: 350px;
          height: 400px;
        }
      }
    }
  }
}

.home__sliderPagination {
  position: absolute;
  top: 0;
  left: 5%;
  height: 100%;
  width: 100px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @mixin atMedium {
    left: 10%;
  }

  @mixin atFull {
    left: 7%;
  }

  .dot {
    line-height: 26px;
    text-align: center;
    background: $mainLightGrey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 15;
    font-size: 0;
    transition: 0.8s ease;
    cursor: pointer;

    &:hover {
      width: 26px;
      height: 26px;
      font-size: 2rem;
    }
    &.active {
      width: 26px;
      height: 26px;
      font-size: 2rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background: $mainWhite;
    width: 1px;
    height: 80%;
  }
}
