/* Footer ********************************************************/

:root {
  --mainColor: $mainYellow;
}

.footer {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 80px;
  width: 100%;
  background: rgb(46, 46, 46);
  position: relative;

  @mixin atMedium {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 420px 50px;
  }

  &-logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 200px;

    @mixin atMedium {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      height: 100%;
    }

    img {
      min-width: 90px;
      max-width: 90px;
    }

    &__text {
      h3 {
        color: $mainWhite;
        font-size: 1.5rem;
      }

      p {
        padding-top: 10px;
        color: var(--mainColor);
        letter-spacing: 6px;
      }
    }
  }

  &-message {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    position: relative;
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid $mainGrey;
    border-bottom: 1px solid $mainGrey;

    @mixin atMedium {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      height: 100%;
      border: none;
      border-left: 1px solid $mainGrey;
      border-right: 1px solid $mainGrey;
    }

    h3 {
      font-size: 1.5rem;
      color: $mainWhite;
      font-weight: 700;

      span {
        color: var(--mainColor);
      }
    }

    .messege {
      display: flex;
      flex-direction: column;
      width: 80%;

      #name {
        margin-bottom: 15px;
        padding-left: 15px;
        height: 40px;
        border-radius: 10px;
        outline: none;
      }

      #messege {
        margin-bottom: 15px;
        padding: 10px 0 0 15px;
        min-height: 40px;
        max-height: 120px;
        max-width: 600px;
        min-width: 100px;
        border-radius: 10px;
        outline: none;
      }
    }
    button {
      width: 60%;
      height: 40px;
      border-radius: 10px;
      outline: none;
      border: none;
      background: var(--mainColor);
      text-shadow: 0 0 2px $mainBlack;
    }
  }

  &-contact {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @mixin atMedium {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
      height: 100%;
    }

    h3 {
      font-size: 1.5rem;
      color: $mainWhite;
      font-weight: 700;

      span {
        color: var(--mainColor);
      }
    }

    .utas {
      display: flex;
      flex-direction: column;
      color: $mainWhite;

      div {
        margin: 5px 0;

        i {
          color: var(--mainColor);
          padding-right: 10px;
        }
      }
    }

    .social {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.2rem;

      i {
        font-size: 1.5rem;
        color: var(--mainColor);
        margin: 10px 20px;
      }
    }
  }

  &__copy {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    background: $mainBlack;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @mixin atMedium {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
      flex-direction: row;
      justify-content: center;
    }

    p {
      color: $mainGrey;
    }

    a {
      color: $mainWhite;
      text-decoration: none;
      padding-left: 10px;

      span {
        color: var(--mainColor);
      }
    }
  }
}
