.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $homePageBg;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;

  .bgImgIndex {
    width: 100%;
    height: 100%;
    display: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .activeChange {
    display: block;
  }
}

.nav {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  z-index: 999;

  &_toggle {
    display: none;
  }

  &_logo {
    width: 80px;
    height: 80px;
    z-index: 888;

    img {
      width: 80px;
      height: 80px;
    }
  }

  &__container {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 777;

    &--ul {
      width: 350px;
      display: flex;
      justify-content: space-between;

      li {
        font-size: 1rem;
        letter-spacing: 3px;
        cursor: pointer;

        a {
          color: $mainWhite;
          font-weight: 700;
        }
      }
    }
    &--social {
      width: 150px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        font-size: 1.6rem;
        color: $mainLightGrey;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.side-indicator {
  height: 70%;
  top: 15%;
  left: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
  cursor: pointer;

  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $mainLightGrey;
    opacity: 0.7;
  }
  .index {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $mainLightGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.7s ease, width 0.7s ease;

    p {
      opacity: 0;
      transition: opacity 0.5s ease;
      color: white;
      font-size: 10px;
      font-weight: bold;
      z-index: 9;
    }
  }
  .active {
    height: 30px;
    width: 30px;
    p {
      opacity: 1;
      font-size: 16px;
    }
  }
}

.content {
  position: absolute;
  top: 8%;
  height: 92%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  width: 60%;
}

.text {
  padding-left: 300px;
  padding-right: 100px;
}

#title {
  overflow: hidden;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.text h4 {
  font-size: 120px;
  padding-bottom: 40px;
  color: $mainWhite;
  position: relative;
}

.btn {
  width: 150px;
  background-color: $mainOrange;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 60px;
  justify-content: space-around;
  cursor: pointer;
}

.btn p {
  color: white;
  font-size: 18px;
}

.btn i {
  padding-left: 10px;
  color: white;
}

.glide {
  width: 40%;
}

.glide_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  cursor: default;
}

.slide {
  height: 500px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  flex-shrink: 0;
}

.slider-image {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}

.glide__slide--active .slider-image {
  height: 400px;
  z-index: 5;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide p {
  color: white;
  font-size: 14px;
}

.rating {
  display: flex;
  width: 60px;
  padding: 8px 0;
  justify-content: space-between;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.controls {
  width: 140px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50px;
  cursor: pointer;
  z-index: 10;
}

.controls div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.5s;
}

.controls div:active {
  transform: scale(0.6);
}

.controls i {
  color: gray;
  font-size: 1.2rem;
}
/* Media query MAX-WIDTH ****************************************/
@media only screen and (max-width: 1600px) {
  .side-indicator {
    width: 200px;
  }
  .text-wrapper {
    width: 50%;
  }
  .glide {
    width: 50%;
  }
  #title {
    width: 440px;
  }
  .text {
    padding-left: 200px;
  }
  .text h4 {
    transform: scale(0.8);
    transform-origin: left;
  }
  .btn {
    width: 120px;
  }
  .btn p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  .text h4 {
    transform: scale(0.6);
    transform-origin: left;
  }
  .slide {
    height: 400px;
    width: 220px;
  }
}

@media only screen and (max-width: 1100px) {
  .side-indicator {
    width: 120px;
  }
  .text {
    padding-left: 120px;
  }
  .content {
    flex-direction: column;
  }
  .text-wrapper {
    width: 100%;
  }
  .glide {
    width: 100%;
    padding-left: 120px;
    padding-top: 40px;
  }
  .btn {
    margin-top: 30px;
  }
  .controls {
    top: -20px;
  }
  .slide {
    height: 500px;
    width: 300px;
    padding-bottom: 0;
  }
  .slider-image {
    height: 280px;
  }
  .slide p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .side-indicator {
    width: 120px;
    transition: 0.8s $backOutEase;
  }
  .indicator_a {
    top: 100%;
  }
  .nav {
    &_toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40px;
      height: 40px;
      z-index: 999;
      border-radius: 5px;
      border: 1px solid $mainOrange;
      padding: 4px;
      background: rgba(175, 186, 211, 0.6);
      cursor: pointer;

      .span {
        width: 100%;
        height: 6px;
        background: $mainOrange;
        transition: 0.7s $backOutEase;
      }
    }
    .active {
      background: rgba(0, 20, 66, 0.6);
    }

    .active .s1 {
      transform: rotate(-405deg) translate(-8px, 9px);
    }

    .active .s2 {
      opacity: 0;
    }

    .active .s3 {
      transform: rotate(405deg) translate(-8px, -9px);
    }
    .nav__container {
      top: -100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      background-image: $Bg_Gradient-2;
      position: absolute;
      transition: 0.9s $backOutEase;

      &--ul {
        padding-top: 150px;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        li {
          font-size: 1.5rem;
          a {
            color: $mainWhite;
            font-weight: 700;
          }
        }
      }

      &--social {
        width: 50%;
        height: 30%;

        a {
          color: $mainLightGrey;
          font-size: 2rem;
        }
      }
    }
    .change {
      top: 0;
    }
  }
  #title {
    width: 220px;
    height: 120px;
    position: relative;
    margin-bottom: 0;
  }
  .text {
    padding-left: 120px;
  }
  .text h4 {
    transform: scale(0.35);
  }
  .btn {
    margin-top: 0;
  }
  .content {
    flex-direction: column;
    overflow: hidden;
    transition: 0.9s $backOutEase;
  }
  .content_a {
    top: 100%;
  }
  .controls {
    top: 0;
  }
  .text-wrapper {
    width: 100%;
  }
  .glide {
    width: 100%;
    padding-left: 120px;
    padding-top: 40px;
  }
  .btn {
    margin-top: 30px;
  }
  .slide {
    height: 300px;
    width: 180px;
  }
  .slider-image {
    height: 180px;
  }
  .slide p {
    font-size: 12px;
  }

  .glide__slide--active .slider-image {
    height: 220px;
  }
}
